/* Color */

:root,
[data-bs-theme="light"] {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #0d6efd;
	--bs-secondary: #6c757d;
	--bs-success: #198754;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 13, 110, 253;
	--bs-secondary-rgb: 108, 117, 125;
	--bs-success-rgb: 25, 135, 84;
	--bs-info-rgb: 13, 202, 240;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-primary-text-emphasis: #052c65;
	--bs-secondary-text-emphasis: #2b2f32;
	--bs-success-text-emphasis: #0a3622;
	--bs-info-text-emphasis: #055160;
	--bs-warning-text-emphasis: #664d03;
	--bs-danger-text-emphasis: #58151c;
	--bs-light-text-emphasis: #495057;
	--bs-dark-text-emphasis: #495057;
	--bs-primary-bg-subtle: #cfe2ff;
	--bs-secondary-bg-subtle: #e2e3e5;
	--bs-success-bg-subtle: #d1e7dd;
	--bs-info-bg-subtle: #cff4fc;
	--bs-warning-bg-subtle: #fff3cd;
	--bs-danger-bg-subtle: #f8d7da;
	--bs-light-bg-subtle: #fcfcfd;
	--bs-dark-bg-subtle: #ced4da;
	--bs-primary-border-subtle: #9ec5fe;
	--bs-secondary-border-subtle: #c4c8cb;
	--bs-success-border-subtle: #a3cfbb;
	--bs-info-border-subtle: #9eeaf9;
	--bs-warning-border-subtle: #ffe69c;
	--bs-danger-border-subtle: #f1aeb5;
	--bs-light-border-subtle: #e9ecef;
	--bs-dark-border-subtle: #adb5bd;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
	--bs-body-color: #212529;
	--bs-body-color-rgb: 33, 37, 41;
	--bs-body-bg: #fff;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-emphasis-color: #000;
	--bs-emphasis-color-rgb: 0, 0, 0;
	--bs-secondary-color: rgba(33, 37, 41, 0.75);
	--bs-secondary-color-rgb: 33, 37, 41;
	--bs-secondary-bg: #e9ecef;
	--bs-secondary-bg-rgb: 233, 236, 239;
	--bs-tertiary-color: rgba(33, 37, 41, 0.5);
	--bs-tertiary-color-rgb: 33, 37, 41;
	--bs-tertiary-bg: #f8f9fa;
	--bs-tertiary-bg-rgb: 248, 249, 250;
	--bs-heading-color: inherit;
	--bs-link-color: #0d6efd;
	--bs-link-color-rgb: 13, 110, 253;
	--bs-link-decoration: underline;
	--bs-link-hover-color: #0a58ca;
	--bs-link-hover-color-rgb: 10, 88, 202;
	--bs-code-color: #d63384;
	--bs-highlight-color: #212529;
	--bs-highlight-bg: #fff3cd;
	--bs-border-width: 1px;
	--bs-border-style: solid;
	--bs-border-color: #dee2e6;
	--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
	--bs-border-radius: 0.375rem;
	--bs-border-radius-sm: 0.25rem;
	--bs-border-radius-lg: 0.5rem;
	--bs-border-radius-xl: 1rem;
	--bs-border-radius-xxl: 2rem;
	--bs-border-radius-2xl: var(--bs-border-radius-xxl);
	--bs-border-radius-pill: 50rem;
	--bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	--bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	--bs-focus-ring-width: 0.25rem;
	--bs-focus-ring-opacity: 0.25;
	--bs-focus-ring-color: rgba(13, 110, 253, 0.25);
	--bs-form-valid-color: #198754;
	--bs-form-valid-border-color: #198754;
	--bs-form-invalid-color: #dc3545;
	--bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme="dark"] {
	color-scheme: dark;
	/* --bs-body-color: #dee2e6;
	--bs-body-color-rgb: 222, 226, 230; */
	--bs-body-color: rgba(255, 255, 255, 0.9);
	--bs-body-color-rgb: 255, 255, 255;
	--bs-body-bg: #212529;
	--bs-body-bg-rgb: 33, 37, 41;
	--bs-emphasis-color: #fff;
	--bs-emphasis-color-rgb: 255, 255, 255;
	--bs-secondary-color: rgba(222, 226, 230, 0.75);
	--bs-secondary-color-rgb: 222, 226, 230;
	--bs-secondary-bg: #343a40;
	--bs-secondary-bg-rgb: 52, 58, 64;
	--bs-tertiary-color: rgba(222, 226, 230, 0.5);
	--bs-tertiary-color-rgb: 222, 226, 230;
	--bs-tertiary-bg: #2b3035;
	--bs-tertiary-bg-rgb: 43, 48, 53;
	--bs-primary-text-emphasis: #6ea8fe;
	--bs-secondary-text-emphasis: #a7acb1;
	--bs-success-text-emphasis: #75b798;
	--bs-info-text-emphasis: #6edff6;
	--bs-warning-text-emphasis: #ffda6a;
	--bs-danger-text-emphasis: #ea868f;
	--bs-light-text-emphasis: #f8f9fa;
	--bs-dark-text-emphasis: #dee2e6;
	--bs-primary-bg-subtle: #031633;
	--bs-secondary-bg-subtle: #161719;
	--bs-success-bg-subtle: #051b11;
	--bs-info-bg-subtle: #032830;
	--bs-warning-bg-subtle: #332701;
	--bs-danger-bg-subtle: #2c0b0e;
	--bs-light-bg-subtle: #343a40;
	--bs-dark-bg-subtle: #1a1d20;
	--bs-primary-border-subtle: #084298;
	--bs-secondary-border-subtle: #41464b;
	--bs-success-border-subtle: #0f5132;
	--bs-info-border-subtle: #087990;
	--bs-warning-border-subtle: #997404;
	--bs-danger-border-subtle: #842029;
	--bs-light-border-subtle: #495057;
	--bs-dark-border-subtle: #343a40;
	--bs-heading-color: inherit;
	--bs-link-color: #6ea8fe;
	--bs-link-hover-color: #8bb9fe;
	--bs-link-color-rgb: 110, 168, 254;
	--bs-link-hover-color-rgb: 139, 185, 254;
	--bs-code-color: #e685b5;
	--bs-highlight-color: #dee2e6;
	--bs-highlight-bg: #664d03;
	--bs-border-color: #495057;
	--bs-border-color-translucent: rgba(255, 255, 255, 0.15);
	--bs-form-valid-color: #75b798;
	--bs-form-valid-border-color: #75b798;
	--bs-form-invalid-color: #ea868f;
	--bs-form-invalid-border-color: #ea868f;
}

/* General */

html {
	font-family: var(--font-aleo);
	/* font-size: 16px; */
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
	font-family: var(--font-aleo);
}

.link {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.link:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 1);
	text-shadow: 0 0 14px rgba(255, 255, 255, 0.3);
}

/* Synopsis */

#synopsis {
	font-size: 1.1rem;
}

@media (min-width: 992px) {
	#synopsis .main-character-container {
		width: 140%;
		margin-top: -30%;
	}
}

/* Screenings */

@media (min-width: 992px) {
	#screenings .image-container {
		position: relative;
		width: 126%;
		margin-top: 5%;
		margin-bottom: -10%;
		margin-left: -3%;
	}
}

#screenings .table-container {
	background: rgba(0, 0, 0, 0.4);
	background: linear-gradient(-70deg, rgba(0, 0, 0, 0.6) 37.69%, rgba(22, 27, 34, 0) 127.53%);
	padding: 20px;
	backdrop-filter: blur(10px);
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.6);
}
#screenings .table {
	--bs-body-bg: transparent;
	--bs-border-color: rgba(255, 255, 255, 0.1);
	margin: 0;
}

#screenings .table tr:last-child > * {
	border-bottom-width: 0;
}

/* Trailer */

.video-responsive {
	position: relative;
	overflow: hidden;
	padding-top: 56.25%; /* for 16:9 aspect ratio */
}

.video-responsive iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Slider */

html .slick-prev,
html .slick-next {
	width: 32px;
	height: 32px;
}
html .slick-prev:before,
html .slick-next:before {
	color: var(--bs-body-color);
	font-size: 32px;
}

html .slick-prev {
	left: -35px;
}
html .slick-next {
	right: -35px;
}

html .slick-dots li button:before,
html .slick-dots li.slick-active button:before {
	color: var(--bs-body-color);
}
html .slick-dots li button:before {
	opacity: 0.5;
}
html .slick-dots li.slick-active button:before {
	opacity: 1;
}

/* Sponsors */

#sponsors {
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}

/* Prizes */

.prizes {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-evenly;
	text-align: center;
}

.btn-prize {
	margin: 50px 10px;
	opacity: 0.8;
	transition: opacity 0.3s;
}
.btn-prize img {
	width: auto;
	height: 100px;
}

.btn-prize:hover {
	opacity: 1;
}

@media (max-width: 992px) {
	.prizes-container .btn-prize {
		margin: 30px auto;
	}

	.prizes {
		grid-template-columns: auto auto;
	}
}
@media (max-width: 500px) {
	.btn-prize img {
		height: 70px;
	}
}

/* Landing */

#landing {
	height: 100vh;
	display: flex;
	align-items: center;
	position: relative;
	padding-bottom: 1em !important;
}
#landing .logo-container {
	position: relative;
	/* top: -50px; */
}

@media (max-width: 992px) {
	#landing {
		display: block;
		height: auto;
	}

	#landing .logo-container {
		display: flex;
		height: 100vh;
		top: 0;
	}
}

/* Nav bar */

#localesNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
#localesNav .navbar-toggler {
	padding: 0.75rem;
	font-size: 0.75rem;
	text-transform: uppercase;
	font-weight: 700;
}
#localesNav .navbar-brand {
	color: #ef5116;

	font-weight: 700;
	letter-spacing: 0.0625em;
	text-transform: uppercase;
}
#localesNav .navbar-brand img {
	height: 1.5rem;
}
#localesNav .navbar-nav .nav-item .nav-link {
	font-size: 0.95rem;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 0.0625em;
	padding-right: var(--bs-navbar-nav-link-padding-x);
	padding-left: var(--bs-navbar-nav-link-padding-x);
}
#localesNav .navbar-nav .nav-item .nav-link:hover {
	color: #fff;
}
#localesNav .navbar-nav .nav-item .nav-link.active {
	color: #ef5116;
}

#localesNav .navbar-nav {
	/* background-color: rgba(255, 255, 255, 0.8); */
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 0 6px;
}

/* Social Buttons */

.social-buttons a {
	color: var(--bs-body-color);
	padding: 10px;
	font-size: 24px;

	opacity: 0.8;
	transition: opacity 0.3s;
}
.social-buttons a:hover {
	opacity: 1;
}

/* Social */

#socialFooter {
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}
#socialFooter .social-buttons {
	display: flex;
	justify-content: space-around;

	padding: 10px;
	/* border-radius: 50px; */
}

#socialFooter .social-buttons a {
	font-size: 32px;
}

/* Background Scroll */

.main-background {
	transition: opacity 2s;
	opacity: 0.6;
}

.main-background.background__synopsis {
	opacity: 0.3;
}

.main-background.background__trailer {
	opacity: 0.1;
}

.main-background.background__screenings {
	opacity: 0.6;
}

.main-background.background__gallery {
	opacity: 0.6;
}

.main-background.background__sponsors {
	opacity: 1;
}

.main-background-medos {
	transition: all 2s;
	opacity: 0.8;
	top: 50% !important;
}

.main-background-medos.background__prizes {
	transition: all 5s;
	top: 30% !important;
}

.main-background-medos.background__synopsis {
	transition: all 5s;
	top: 0% !important;
}

.main-background-medos.background__trailer {
	transition: all 5s;
	top: 80% !important;
	opacity: 0.6;
}

.main-background-medos.background__screenings {
	transition: all 5s;
	top: 50% !important;
	opacity: 0.8;
}

.main-background-medos.background__gallery {
	transition: all 5s;
	top: 0% !important;
	opacity: 0.8;
}

.main-background-medos.background__sponsors {
	transition: all 20s;
	top: 100% !important;
}

/* Animations */

@keyframes backgroundFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.6;
	}
}

@keyframes medosFadeIn {
	from {
		opacity: 0;
		margin-top: 3%;
	}
	to {
		opacity: 0.8;
		margin-top: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
