streamlit
altair
PyPDF2
pandas
sap-ai-sdk-gen[all]
bs4
python-dotenv
langchain
langchain_openai
langchain_community
pydantic
wheel
aioboto3
google-api-core
google-auth
grpcio
google-cloud-aiplatform
hdbcli
sap-ai-sdk-gen